<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myfirstapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".activity.init">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fcshhCmvw0rf77EALwYXFfVqBwL50lVM" />
        <activity android:name=".activity.homework_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.homework1_helloword_activity"/>
        <activity android:name=".activity.homework2_img_activity"/>
        <activity android:name=".activity.homework3_phoneinfo_activity"/>
        <activity android:name=".activity.homework4_imgchange_activity"/>
        <activity android:name=".activity.homework5_drawxin_activity"/>
        <activity android:name=".activity.homework_tanqiu_moveair_activity"/>
        <activity android:name=".activity.homework6_qq_activity"/>
        <activity android:name=".activity.homework6_tel_activity"/>
        <activity android:name=".activity.homework6_login_activity"/>
        <activity android:name=".activity.homework7_nihong_activity"/>
        <activity android:name=".activity.homework8_shizi_activity"/>
        <activity android:name=".activity.homework9_calculator_activity"/>
        <activity android:name=".activity.homework10_qq_activity"/>
        <activity android:name=".activity.homework10_sousuo_activity"/>
        <activity android:name=".activity.homework11_radio_activity"/>
        <activity android:name=".activity.homework13_listview_activity"/>
        <activity android:name=".activity.homework14_autoplayview_activity"/>
        <activity android:name=".activity.homework15_imgchangealpha_activity"/>
        <activity android:name=".activity.homework17_gridview_activity"/>
        <activity android:name=".activity.homework19_birthday_activity"/>
        <activity android:name=".activity.homework19_birthday_activity2"/>
        <activity android:name=".activity.homework20_tabs_activity"/>
        <activity android:name=".activity.homework22_menu_activity"/>
        <activity android:name=".activity.homework24_call_send_activity"/>
        <activity android:name=".activity.homework25_city_activity"/>
        <activity android:name=".activity.homework26_configuration_activity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.homework_api_caipu_activity"/>
        <activity android:name=".activity.homework_api_caipu_info_activity"/>
        <activity android:name=".activity.homework_Spinner_activity"/>
        <activity android:name=".activity.homework_taobaoad_activity"/>
        <activity android:name=".activity.homework_gotoTEL_activity"/>
        <activity android:name=".activity.homework_api_guishu_activity"/>
        <activity android:name=".activity.homework_seekbar_activity"/>
        <activity android:name=".activity.homework_content_activity"/>
        <activity android:name=".activity.homework_api_autosearch_chengyu_activity"/>
        <activity android:name=".activity.homework_duoxuan_activity"/>
        <activity android:name=".activity.homework_autochangelanguange_activity"/>
        <activity android:name=".activity.homework28_pad_activity"/>
        <activity android:name=".activity.homework28_bookinfo_activity"/>
        <activity android:name=".activity.homework30_baidu_activity"/>
        <activity android:name=".activity.homework32_db_activity"/>
        <activity android:name=".activity.homework32_db_edit_avtivity"/>
        <activity android:name=".activity.homework_filebrowser_activity"/>
        <activity android:name=".activity.homework33_shoushi_activity"/>
        <activity android:name=".activity.homework34_shoushi2_activity"/>
        <activity android:name=".activity.homework35_diyshoushi_activity"/>
        <activity android:name=".activity.homework35_diyshoushi_activity2"/>
        <activity android:name=".activity.homework_sdk_yuyin_activity"/>
        <activity android:name=".activity.homework_sdk_yuyin2_activity"/>
        <activity android:name=".activity.homework38_smssend_activity"/>
        <activity android:name=".activity.homework40_music_activity"
            android:label="我的app">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/mp3"
                    android:scheme="file"/>
            </intent-filter>
        </activity>
        <service android:name=".activity.homework40_music_service"/>
        <activity android:name=".activity.homework41_vibrator_activity"/>
        <activity android:name=".activity.homework42_alarm_activity"/>
        <activity android:name=".activity.homework_autosaveset_activity"/>
        <activity android:name=".activity.homework_huaxian_activity"/>
        <activity android:name=".activity.homework_boom_activity"/>
        <activity android:name=".activity.homework_autologin_activity"/>
        <activity android:name=".activity.homework_autologin_activity2"/>
        <activity android:name=".activity.homework_download_activity"/>
        <activity android:name=".activity.homework_contentresolver_activity"/>
        <receiver android:name=".activity.homework_sms_receiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <service android:name=".activity.homework_phonelisten_service"/>
        <activity android:name=".activity.homework_videoview_activity"/>
        <activity android:name=".activity.homework_mediarecorder_activity"/>
        <activity android:name=".activity.homework_mediavideo_activity"/>
        <activity android:name=".activity.homework_sdk_weibo_main_activity"/>
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <activity android:name=".activity.homework_sdk_weibo_share_activity"/>
        <activity android:name=".activity.homework_gupiao_activity"/>
        <activity android:name=".activity.homework_upload_activity"/>
        <activity android:name=".activity.homework_yaoyiyao_activity"/>
        <activity android:name=".activity.homework_zhinanzhen_activity"/>
        <activity android:name=".activity.homework_GPS_activity"/>
        <activity android:name=".activity.homework_baidumap_activity"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".activity.a">

        </activity>
    </application>
</manifest>